<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="AllTests" parallel="tests">
 	
    <test name="set1 DevOpsURL">
        <parameter name="browserName" value="chrome"/>
        <parameter name="url1" value="title:=selenium;url:=https://www.selenium.dev/"/>
        <parameter name="url2" value="title:=GitHub;url:=https://github.com/"/>
        <parameter name="url3" value="title:=jenkins;url:=https://www.jenkins.io/"/>
        <parameter name="url4" value="title:=maven;url:=https://mvnrepository.com/"/>
        <parameter name="url5" value="title:=Docker Hub;url:=https://hub.docker.com/"/>
        <classes>
            <class name="com.temp_test.tests.MyTest" />

        </classes>
    </test>
    
    <test name="set2 NEWS URL">
        <parameter name="browserName" value="chrome"/>
        <parameter name="url1" value="title:=ndtv;url:=https://www.ndtv.com/"/>
        <parameter name="url2" value="title:=New York Times;url:=https://www.nytimes.com/"/>
        <parameter name="url3" value="title:=dawn.com;url:=https://www.dawn.com/"/>
        <parameter name="url4" value="title:=bbc;url:=https://www.bbc.com/"/>
        <parameter name="url5" value="title:=telegraph;url:=https://www.telegraph.co.uk/"/>
        <classes>
            <class name="com.temp_test.tests.MyTest" />

        </classes>
    </test> 
      <test name="set3 OrganizationURL">
        <parameter name="browserName" value="firefox"/>
        <parameter name="url1" value="title:=xoriant;url:=http://xoriant.com/"/>
        <parameter name="url2" value="title:=cognizant;url:=https://www.cognizant.com/"/>
        <parameter name="url3" value="title:=ptc;url:=https://www.ptc.com/"/>
        <parameter name="url4" value="title:=Dassault;url:=https://www.3ds.com/"/>
        <parameter name="url5" value="title:=John Deere;url:=https://www.deere.com/"/>
        <classes>
            <class name="com.temp_test.tests.MyTest" />

        </classes>
    </test>
    
      <test name="set4 PopularProductsURL">
        <parameter name="browserName" value="firefox"/>
        <parameter name="url1" value="title:=samsung;url:=https://www.samsung.com/in/"/>
        <parameter name="url2" value="title:=Apple;url:=https://www.apple.com/"/>
        <parameter name="url3" value="title:=dell;url:=https://www.dell.com/"/>
        <parameter name="url4" value="title:=HP;url:=https://www8.hp.com/"/>
        <parameter name="url5" value="title:=lenovo;url:=https://www.lenovo.com/"/>
        <classes>
            <class name="com.temp_test.tests.MyTest" />

        </classes>
    </test>
</suite>
